/* CSSTerm.com Simple CSS menu */

br { clear:left }

.menu_simple {
width: 100%;
clear: both;
float: left;
background:rgb(145, 24, 24);
}

.menu_simple ul {
    margin: 0; padding: 0;
    float: left;
}

.menu_simple ul li {
    display: inline;
}

.menu_simple ul li a {
    float: left; text-decoration: none;
    color: white; 
    padding: 10.5px 23px;
    background-color: rgb(145, 24, 24);
}

.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: rgb(97, 49, 67);
}
#menuid
{
width:1200px;
margin:0 auto;
}